<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../../assets/css/front/output.css">
    <title>Document</title>
</head>
<body>
    <header class="w-full py-5 bg-white flex items-center justify-between gap-6 px-16 shadow-md">
        <div class="text-3xl text-[#de00a5] font-bold">
            <span>GoLearning</span>
        </div>
        <nav>
            
        </nav>
    </header>
</body>
</html>