* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

html {
  font-size: 10px;
}
:root {
  --dark: #0a0a0a;
  --gray: #646363;
  --blue: #6d7ada;
  --dark-blue: #3240b1;
  --white: #edeef3;
  --light: #fff;
}
li {
  list-style-type: none;
}
a {
  text-decoration: none;
  color: var(--dark);
}
button {
  border: none;
  outline: none;
}
body {
  background-color: var(--white);
}



::-webkit-scrollbar {
  width: 4px;
}
::-webkit-scrollbar-thumb {
  background-color: #828ba2;
  border-radius: 4px;
}

::-webkit-scrollbar-track {
  background-color: #eff2f9;
}
.pages__content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(15, 1fr);
}
.main__content {
    grid-column: span 12 / span 12;
}
.side__content {
    grid-column: span 3 / span 3;
    background-color: var(--blue);
    position: sticky;
    top: 0;
    height: 100vh;
    padding: 3rem;
}
.aside__header {
    margin-bottom: 4rem;
}
.aside__header h1 {
    width: max-content;
    padding: 1rem 2rem;
    background-color: var(--white);
    border-radius: 1rem;
    font-size: 3rem;
    color: var(--blue);
    font-weight: 600;
}
.pages_list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.pages_list .page_item a {
    width: 100%;
    padding: 1.3rem 2rem;
    color: var(--light);
    display: flex;
    gap: 1rem;
    font-size: 1.8rem;
    border-radius: 5px;
    transition: background-color .4s ease;
}
.pages_list .page_item.active a {
    background-color: #8d98eca1;
}
.pages_list .page_item:hover a {
    background-color: #969fe2a1;
}
.main__content {
    display: flex;
    flex-direction: column;
    gap: 5rem;
    padding-bottom: 6rem;
}
.main__header {
  width: 100%;
    position: sticky;
    top: 0;
    width: 100%;
    height: 6rem;
    background-color: var(--light);
    display: flex;
    align-items: center;
    padding: 0 3%;
}
.navbar__content {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__content span {
    font-size: 2.5rem;
    color: #d90b0b;
    font-weight: 600;
    cursor: pointer;
}
.navbar__content span:first-child {
    color: var(--blue);
   
}
.navbar__content span:last-child:hover i {
    color: #ff0707;
}
.navbar__content span:first-child:hover i {
    color: var(--dark-blue);
    
}
.project__statistics {
    padding: 0 3rem;
}
.heading {
    font-size: 1.9rem;
    color: var(--blue);
    margin-bottom: 2rem;
}

.statistics__list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 2rem;
}
.statistic__card {
    background-color: var(--light);
    box-shadow: 0 0 12px 3px #00000016;
    border-radius: 5px;
    height: 12rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}
.statistic__card span {
    font-size: 2.6rem;
    color: var(--blue);
}

.statistics_charts {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(50rem, 1fr));
    gap: 2rem;
}

.chart__card {
    width: 100%;
    height: 30rem;
    background-color: var(--light);
    box-shadow: 0 0 12px 3px #00000016;
    border-radius: 5px;
}

/* tables */

.users__table {
    padding: 0 3rem;
}
  .table-container {
    width: 100%;
  }
  
  .user-table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
    font-size: 1rem;
    box-shadow: 0 0 12px 3px #00000016;
    border-radius: 5px;
    overflow: hidden;
  }
  
  .table-head {
    background-color: var(--blue);
    color: var(--light);
  }
  
  .table-header {
    padding: 12px 15px;
    text-transform: uppercase;
    font-weight: bold;
    border-bottom: 2px solid #828ba2;
    font-size: 1.5rem;
    text-align: center;
  }
  
  .table-body .table-row:nth-child(odd) {
    background-color: #eff2f9;
  }
  
  .table-body .table-row:nth-child(even) {
    background-color: #fff;
  }
  
  .table-body .table-row:hover {
    background-color: #d3e0ea;
  }
  
  .table-data {
    padding: 12px 15px;
    border-bottom: 1px solid #ccc;
    text-align: center;

    font-size: 1.5rem;
  }
  .manage-col {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .manage-col span:first-child i {
    color: #04a304;
  }
  .manage-col span:last-child i {
    color: #f31515;
  }
/* pending articles */

  .pending__articles {
    padding: 0 3rem;
  }
  .pend__articles-list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
  }
  .pend__articles-card {
    width: 100%;
    min-height: 25rem;
    max-height: 25rem;
    background-color: var(--light);
    box-shadow: 0 0 12px 3px #00000016;
    border-radius: 5px;
    overflow: auto;
    display: flex;
    flex-direction: column;
    /* gap: 1.5rem; */
    padding-bottom: 1.5rem;
    position: relative;
  }
  .acc_ref-article {
    position: absolute;
    top: 1.5rem;
    right: 1.5rem;
    z-index: 3425;
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
  .pend_btn {
    padding: 0.8rem;
    background-color: var(--light);
    box-shadow: 0 0 9px 3px #00000022;
    cursor: pointer;
  }
  .pend_btn i {
    transition: transform .3s ease;

  }
  .pend_btn:hover i {
    transform: scale(1.2);
  }
  .pend_btn:first-child i {
    color: #008000;
  }
  .pend_btn:last-child i {
    color: #ff0000;
  }
  .pend_btn i {
    font-size: 1.5rem;
    font-weight: bold;
  }
  .pend__article-cover {
    /* position: sticky;
    top: 0; */
    width: 100%;
    min-height: 16rem;
    max-height: 16rem;
    border-bottom: 1.5px solid #0000003e;
  }
  .pend__article-cover img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: 50% 0;
  }
  .art__btm {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }
  .artc__auhtor {
    display: flex;
    align-items: center;
    gap: 0.8rem;
    padding: 0 1.5rem;
    padding-top: 1.5rem;
  }
  .author__picture-ad {
    width: 3.2rem;
    height: 3.2rem;
    border-radius: 50%;
    background-color: var(--blue);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .author__picture-ad span {
    font-size: 1.5rem;
    color: var(--light);
    font-weight: 550;
  }
  .atcrl__dets {
    display: flex;
    flex-direction: column;
    gap: 0.4rem;
  }
  .author__fullname {
    color: var(--dark);
    font-size: 1.3rem;
    font-weight: 550;

  }
  .date__created-ar {
    color: var(--dark);
    font-size: 1.1rem;
  }
  .pend__article-title {
    padding: 0 1.5rem;
    font-size: 1.8rem;
    font-weight: 550;
    color: var(--blue);
    padding-left: 5.5rem;
  }
  .article__category-ar {
    padding: 0 1.5rem;
    
  }
  .article__category-ar span {
    font-size: 1.4rem;
    color: #04a304;

  }
  .article__tags-ar {
    padding: 0 1.5rem;
  }
  .article__tags-ar ul {
    display: flex;
    flex-wrap: wrap;
    gap: 0.8rem;
  }
  .article__tags-ar li {
    padding: 0.5rem 1rem;
    border-radius: 1rem;
    background-color: #828ba2;
    color: var(--light);
    font-size: 1rem;
  }
  .article__content-ar {
    padding: 0 1.5rem;
    font-size: 1.3rem;
    text-align: justify;
  }

  .no__articles-pend {
    font-size: 1.6rem;
    color: var(--dark);
  }

  /* tags */

  .cls__content {
    padding: 0 3rem;
  }
  .form__input {
    display: flex;
    flex-direction: column;
    gap: 0.7rem;
  }

  .form__input label {
    font-size: 1.5rem;
    color: var(--dark);
  }
  .form__input input {
    width: 100%;
    max-width: 30rem;
    height: 45px;
    border-radius: 5px;
    background-color: #c6cee2;
    border: none;
    outline: none;
    padding: 0 1.5rem;
    color: var(--dark);
  }
  .form__input input::placeholder {
    color: #494747;
  }
  .submit_btn button {
    height: 45px;
    border: none;
    outline: none;
    padding: 0 3rem;
    background-color: var(--blue);
    color: var(--light);
    border-radius: 5px;
    cursor: pointer;
  }
  .submit_btn button:hover {
    background-color: var(--dark-blue);
  }
  .form__content {
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }

  .cls__section {
    padding: 0 3rem;
  }

  .cls__list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
    gap: 2rem;
  }

  .cls__card {
    padding: 2rem;
    background-color: var(--light);
    box-shadow: 0 0 12px 3px #00000016;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    text-align: center;
  }
  .cls__name {
    font-size: 1.8rem;
    color: var(--blue);
    font-style: italic;
    font-weight: 550;
  }
  .cls__management {
    display: flex;
    align-items: center;
    gap: 1rem;
  }
  .cls__management span i {
    font-size: 1.6rem;
    cursor: pointer;
    transition: transform .1s ease;

  }
  .cls__management span:hover i {
    transform: scale(1.2);
  }
  .cls__management span:first-child i {
    color: #07b607;
  }
  .cls__management span:last-child i {
    color: #ef170b;
  }